.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}   .rotacao-botao{ 
    transform: rotate(-90deg);
    transform-origin: right center;
}.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}.opcoes-acessibilidade button{
    margin-bottom: 5px;
}.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}<section id="galeria" tabindex="0" aria-label="Seção de galeria de imagens">
<h2 class="text-center pt-5">Galeria</h2>
<div class="container p-3 mt-3 fundo-galeria">

    <!-- Código omitido --> 

 </div>
</section>